body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.clear {
  clear: both;
}
.logoLargeHeader {
  width: 100px;
  float: left;
}
.logoNameLarge {
  font-size: 25px;
  float: left;
  padding: 30px 20px 0px 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #c21919;
}
.ulMenuLarge > li {
  float: left;
  list-style: none;
  /* background: red; */
}
.ulMenuLarge > li > a { color: white; text-decoration: none;
  padding: 10px 15px; display: table; }
.ulMenuLarge > li:hover { background: #118041;  }

.slideWrap {
  width: 100%;
  height: 560px;
  /* background: red; */
  position: relative;
  overflow: hidden;
}
.imgSlide {
  width: 100%;
  display: table;
  position: absolute;
}
.slideContent {
  width: 100%;
  height: 300px;
  position: absolute;
  z-index: 10;
  margin-top: 100px;
  text-align: left;
}
.hueSaturation {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 5;
  /* background: #505050; */
  opacity: 0.6;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,686868+100 */
background: rgb(0,0,0); /* Old browsers */
background: -moz-linear-gradient(45deg, rgba(0,0,0,1) 0%, rgba(104,104,104,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg, rgba(0,0,0,1) 0%,rgba(104,104,104,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg, rgba(0,0,0,1) 0%,rgba(104,104,104,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#686868',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.h1Slide {
  font-size: 50px;
  font-weight: bold;
  color: white;
  text-shadow: 3px 2px 3px rgb(85, 85, 85);
  /* font-family: 'Source Sans Pro', sans-serif; */
  font-family: 'Ubuntu', sans-serif;

}
.h4Slide {
  font-size: 22px;
  color: white;
  line-height: 1.7em;
  text-shadow: 3px 2px 3px rgb(85, 85, 85);
  font-family: 'Ubuntu', sans-serif;

}
.btnSlide {
  /* font-family: 'Raleway', sans-serif; */
  font-family: 'Ubuntu', sans-serif;
}
.h3Service {
  font-size: 25px;
  font-weight: bold;
  color: #555555;
  font-family: 'Ubuntu', sans-serif;

}
.h1Konten {
  font-size: 35px;
  font-weight: bold;
  color: #555555;
  font-family: 'Ubuntu', sans-serif;
}
.pService, .pKonten {
  font-family: 'Raleway', sans-serif;
  font-family: 'Ubuntu', sans-serif;
  color: #575757;
  font-size: 19px;
}

.h4LokasiKlinik {
  font-family: 'Ubuntu', sans-serif;
  background: #22c091;
  padding: 15px;
  color: white;
  margin-bottom: 0px;
  border-bottom: 5px solid #026b43;
}

.carousel-item {
  max-height: 200px;
}
.klinikDetail {
  background: rgb(240, 240, 240);
  color: rgb(63, 63, 63);
  padding: 15px 15px 15px 20px;
  border-radius: 10px;
  margin-bottom: 10px;
  position: relative;
}
.btnMap {
  margin-top: -15px;
}
.pKlinikDetail {
  font-size: 14px;
  line-height: 1.3em;
  margin-top: -5px;
}
.mapWrapper {
  width: 100%;
  height: 500px;
  background: rgb(184, 184, 184);
}
.h4KlinikDetail { color: #626262; }
.mapRed { background: #ffe6e6; }
.mapOrange { background: #fff0d4; }
.mapBlue { background: #dceeff; }

.pSimpleFooter {
  padding: 10px;
  color: white;
  font-size: 13px;
  margin: 0;
}
.stickyMenuClass {
  -webkit-box-shadow: 0 0 10px 0 #CCCCCC;
  box-shadow: 0 0 10px 0 #CCCCCC;
}